* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: rgb(241, 249, 253);
}
.container {
  text-align: center;
  padding: 20px;
  padding-top: 48px;
}
.texto {
  color: rgb(17, 43, 73);
  font-size: 28px;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  padding: 20px;
}
.form {
  padding: 20px;
  width: 500px;
  margin: auto;
  background: white;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.form__text {
  color: rgb(11, 28, 48);
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}
#correo {
  width: 100%;
  border: none;
  outline: none;
  padding: 20px;
  border: solid 2px rgb(234, 244, 253);
}
.form__button{
    display: flex;
    justify-content: space-between;
}
.button {
  border: none;
  outline: none;
  padding: 10px 20px;
  cursor: pointer;
}
.salir {
  background: rgb(212, 51, 51);
  color: white;
}
.enviar {
  background: rgb(1, 161, 1);
  color: white;
}

.salir:hover {
    background: rgb(189, 36, 36);
  }
  .enviar:hover {
    background: rgb(2, 136, 2);
  }

@media screen and (max-width:545px) {
  .form {
    width: 100%;
  }
}
